<a href="https://colab.research.google.com/github/jaimin490/python-with-ml-training/blob/main/day3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## dictionary

## sort the dictionary

In [ ]:
import operator
d=dict({'red':2,'blue':1,'c':4})
print(d)
sort = sorted(d.items(), key=operator.itemgetter(1)) 
print(sort)
desc = sorted(d.items(),key=operator.itemgetter(1) ,reverse=True)
print(desc)

{'red': 2, 'blue': 1, 'c': 4}
[('blue', 1), ('red', 2), ('c', 4)]
[('c', 4), ('red', 2), ('blue', 1)]

Q.2 Write a Python Program to add a key to a dictionary.

In [ ]:
q2= {0: 10, 1: 20}
print(q2)
q2[2]=30
print(q2)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [ ]:
q3= {}
data={}
for i in range(2):
  key1=input("enter city name ")
  value1=input("enter temprature ")
  q3[key1]=value1
  data.update(q3)
print(data)

query=input("enter city name for temprature")
if  qwery in data.keys():
  print(data[qwery])

enter city name q
enter temprature 1
enter city name w
enter temprature 2
{'q': '1', 'w': '2'}
enter city name for tempraturew
2

Q. 4 Write a Python program to convert list to list of dictionaries.

In [ ]:
colour= ["Black", "Red", "Maroon", "Yellow"]
hex= ["#000000", "#FF0000", "#800000", "#FFFF00"]
key_list = ['color_name','color_code']


print("The original color list : " + str(colour))
print("The original hex list : " + str(hex))  

#print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])
#printing the op
print([{'color_name':f,'color_code':c} for f, c in zip(colour,hex)])

The original color list : ['Black', 'Red', 'Maroon', 'Yellow']
The original hex list : ['#000000', '#FF0000', '#800000', '#FFFF00']
[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),
Employee	Salary
John	14
Smith	13
Alice	32
Daneil	21

    Using above create a dictionary of Employees and their Salary
    Write a program that asks user for three type of inputs,
        print: if user enter print then it should print all Employees with their Salary in this format,
            John ==>14
            Smith ==>13
            Alice ==>32
             Daneil ==>21
        add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it
        remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!
        query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
d = {'john':'14','smith':'13','alice':'32','daniel':'21'}
d

{'alice': '32', 'daniel': '21', 'john': '14', 'smith': '13'}

In [ ]:
poll=True
while poll:
  usr_input = input("\nEnter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:")

  if usr_input == '1':
   print("name salary")
   for name, salary in d.items():
     print("{} ==> {}".format(name, salary))

  elif usr_input == '2':
    nname = input("enter name")
    if nname in d:
      pass
    else:
      d[nname]=input("enter salary")

  elif usr_input == '3':
    rname = input("enter name to remove")
    if rname in d:
      d.pop(rname)
    else:
      print("doesn't exist")

  elif usr_input == '4':
    qname = input("enter name for query")
    if qname in d:
      print(d[qname])

  if usr_input == 'q':
    break

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:4
enter name for querysmith
13

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:q